body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: url('music.jpeg') no-repeat center center/cover;
    color: rgb(246, 224, 224);
    text-align: center;
}
/* navigation bar */
nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    background: rgba(0, 0, 0, 0.8);
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

/*logo */
.logo {
    display: flex;
    align-items: center;
}

.logo img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    margin-right: 10px;
    transition: transform 0.3s ease-in-out;
}

.logo img:hover {
    transform: scale(1.1);
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 1.5rem;
    padding: 0;
    margin: 0;
}

.nav-links li {
    margin: 0 15px;
}

.nav-links li a {
    text-decoration: none;
    color: white;
    font-weight: bold;
    transition: color 0.3s;
}

.nav-links li a:hover {
    color: #f4a261;
}